@mixin transition ($time){
   
     transition: $time all linear;
     -webkit-transition: $time all linear;
     -moz-transition: $time all linear;
     -o-transition: $time all linear;
    
}

@mixin widthHeight ($w, $h, $bg){
     
    width: $w;
    height:  $h;
    background: $bg;
     
}

@mixin widthPadding ($w, $p){
    width: $w;
    padding: $p;
}